$color: #bf3989;
$backgroundColor: #ffeff7;
$borderColor: rgba(255, 128, 200, 0.25);

.icon {
  color: $color;
}

.button {
  color: $color !important;
  background: $backgroundColor !important;
  border-color: $borderColor !important;
}

.dialog {
  width: 1100px !important;
  height: 848px !important;
}
