.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.questionContainer {
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: auto;
}

.optionsContainer {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  flex-direction: column;
  gap: 8px;
}

.text {
  word-wrap: break-word !important;
  white-space: normal !important;
  word-break: break-word !important;
}

.button {
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid #d0d7de;
  justify-content: center;
  align-content: center;
  display: inline-block;
  text-align: center;
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  cursor: pointer;
}

.selected {
  border-color: #0969da;
  background: #ddf4ff;
}
