$quizGradient: linear-gradient(to right, #e1eaf8, #dbc4e9);
$resultGradient: linear-gradient(90deg, #f5edff, #ffe8e8, #fdfee3);

.button {
  background: $quizGradient; 
  padding: 2px; 
  border-radius: 10px; 
  border: none;
  display: inline-block; 
  height: 100%;
}

.innerButton {
  border: none;
  background: white; 
  padding: 12px;
  border-radius: 8px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.dialog {
  width: 100vw !important;
  height: auto !important;
}

@media screen and (min-width: 768px) {
  .dialog {
    width: 1100px !important;
    height: 848px !important;
  }
}

.result {
  background: $resultGradient !important;
}
