.heading {
  background: linear-gradient(90deg, #9747FF, #FF6868, #CDD407) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}