.button {
    width: 100%;
    height: 48px;
    border-color: #d0d7de;
    border-radius: 16px;
    margin: 8px;

    &:hover {
        background-color: #f0f6fc;
        border-color: #d0d7de;
    }
}

.selected {
    border-color: #0969da;
    background: #ddf4ff;
}
